
body{
    margin: 0;
    font-family: Roboto;
    font-size: 18px;
}

img{
    max-width: 100%;
}

header{
    background-color: #1157db;
    padding-top: 59px;
    padding-bottom: 22px;
    color: #ffffff;
 }

 .header-pretitle{
    font-weight: 700;
    margin-top: 102px;
 }
 .header-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 21px;
 }
 .header-subtitle{
    font-weight: 400;
    margin-top: 20px;
 }

 .header-button{
box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
border-radius: 50px;
background-color: #ffffff;
color: #072b6f;
font-size: 18px;
font-weight: 700;
padding: 17px 55px;
margin-top: 33px;
transition: 0.5s;
 }
 .header-button:hover {
    box-shadow: none;
    background-color: #072b6f;
    color: #ffffff;
 }

 header small{
    font-size: 12px;
    font-weight: 400;
    display: block;
    text-align: center;
    margin-top: 9px;
 }

 .header-button-block{
    width: 210px;
 }
 /* Секция портфолио */

 .porfolio{
    background-color: #dddddd;
    padding-top: 44px;
    padding-bottom: 71px;
 }

 .portfolio-block{
     background-color: #ffffff;
     padding-top: 29px;
     padding-bottom: 41px;
 }

 .porfolio-title{
    text-transform: uppercase;
    color: #072b6f;
    font-weight: 700;
    letter-spacing: 1.8px;
    font-size: 18px;
    margin-bottom: 10px;
 }

 .portfolio-subtitle{
    margin: 10px;
    font-size: 14px;
    color: #7bb9ff;
    margin-bottom: 30px;
    }

 
 .porfolio-title, .portfolio-subtitle{
     text-align: center;
 }
 .portfolio-col-1{
     padding-left: 50px;
 }
 .portfolio-col-1 a:hover{
     color: #1145a6;
     font-weight: 700;
     text-decoration: none;
 }
 

 .portfolio-col-2{
    padding-right: 50px;
 }
 .portfolio-col-2 a:hover{
    color: #1145a6;
    font-weight: 700;
    text-decoration: none;
}

 .portfolio-block h3{
    height: 18px;
    color: #072b6f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
 }
 
 .portfolio-block a{
color: #072b6f;
    font-size: 14px;
font-weight: 400;
text-decoration: underline;
 }
 .portfolio-text{
color: #8f8f8f;
font-size: 14px;
font-weight: 400;
 }

 /* Оформление подвала */

 footer{
     padding-top: 60px;
     padding-bottom: 110px;
    background-color: #3a7dfd;
    color: #fff;
 }

 .footrer-autor{
     margin-bottom: 7px;
    font-size: 24px;
}

.footer-text{
    margin-top: 5;
}
.social-block{
    text-align: center;
}
.social-block a{
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px;
}
.social-block a:hover{
    width: 30px;
    height: 30px;
    margin-left: 18px;
    margin-right: 18px;
}

.footer-cta-block{
    text-align: center;
}

.footer-cta{
    margin-bottom: 13px;
}
.footer-button{
    display: inline-block;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 24px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 50px;
    padding: 12px 40px;
    transition: 0.2s;
}
.footer-button:hover{
    background-color: #dddddd;
    color: #1145a6;
    box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
    }

@media (max-width: 1200px)  {
    .header-pretitle{
        margin-top: 60px;}
}

@media (max-width: 992px) {
    .header-img{
        display: none;
     }
    .header-pretitle{
        margin-top: 10px;}

    .footrer-autor{
        font-size: 20px;
        margin-top: 20px;
     }
    .footer-text{
        font-size: 14px;
        margin-top: 24px;
     }
    .social-block a{
        margin-left: 5px;
        margin-right: 5px;
     }
    .social-block img{
        width: 30px; 
    }
    .footer-button{
        font-size: 14px;
        padding: 8px 35px ;
    }
    }

    @media (max-width: 768px) {
        .footer{
            padding-bottom: 60px;
        }

        .header-pretitle{
            text-align: center;
        }
        .header-title{
            text-align: center;
        }
        .header-subtitle{
            text-align: center;
        }
        .header-button-block{
            margin: 5px auto;
        }
        .portfolio-subtitle{
            margin-bottom: 15px;
        }
        .portfolio-col-1 {
            padding-top: 25px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 5px;
            border-top: 2px solid #dddddd;
            border-bottom: 2px solid #dddddd;
        }
        .portfolio-col-2 {
            padding-top: 25px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 5px;
        }
        .footrer-autor{
            margin-top: 0;
            text-align: center;
        }
        .footer-text{
            margin-top: 0;
            margin-bottom: 20px;
            text-align: center;
        }
       